.body{
    background-color: rgb(243, 101, 6);
    
}
.container{
    color: white;
}
.cari{
    
    color: rgb(0, 0, 0);
    padding: 2px 32px;
    text-align:right ;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15vh;
}

.d-flex{
    border-radius: 50%;
}

.topnav {
    width: 100vh;
    height: 10px;

}
